<a href="https://colab.research.google.com/github/atifalimd/ML-Projects/blob/main/Book_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# There are generlly 4 types of recommendation systems
#1. Popularity based(Trending videos in youtube section)
#2.content based(based on genre, director,actor and so on, if i watched of liked one action movie,
#there is a very big chance i will like other action movies too, in short recommandation based on 
#similarity between the items )
#3.collabrative filtering based(it recomends based on the rating given to the item)
#4.Hybrid recommender system(It is the combination of all the three recommendation system,
#we have to give weightage to three recommendation system)

---



---

In [ ]:
! pip install -q kaggle
from google.colab import files
files.upload()##upload kaggle.json file

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"atifalimd","key":"02b78047d307e8639d3f15894b83d04c"}'}

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d arashnic/book-recommendation-dataset

Downloading book-recommendation-dataset.zip to /content
 21% 5.00M/23.8M [00:00<00:00, 36.6MB/s]
100% 23.8M/23.8M [00:00<00:00, 122MB/s]

In [ ]:
!unzip book-recommendation-dataset.zip

Archive:  book-recommendation-dataset.zip
  inflating: Books.csv
  inflating: Ratings.csv
  inflating: Users.csv

In [ ]:
import pandas as pd
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
book=pd.read_csv('Books.csv')

In [ ]:
rating=pd.read_csv('Ratings.csv')

In [ ]:
user=pd.read_csv('Users.csv')

In [ ]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
book.duplicated().sum()

0

In [ ]:
book.sample(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
60418,0684872935,Just Say No! : A Novel,Omar Tyree,2001,Simon &amp; Schuster,http://images.amazon.com/images/P/0684872935.0...,http://images.amazon.com/images/P/0684872935.0...,http://images.amazon.com/images/P/0684872935.0...
254781,0800716183,Dress to Fit Your Personality,Joanne Wallace,1989,Baker Pub Group,http://images.amazon.com/images/P/0800716183.0...,http://images.amazon.com/images/P/0800716183.0...,http://images.amazon.com/images/P/0800716183.0...
269752,0673524396,A Short Course in Photography: An Introduction...,Barbara London,1996,Addison-Wesley Pub Co,http://images.amazon.com/images/P/0673524396.0...,http://images.amazon.com/images/P/0673524396.0...,http://images.amazon.com/images/P/0673524396.0...

In [ ]:
"""Popularity based recommendation system, will display top most 50 books and selection criteria is a book must atleast have 250 votes"""

'Popularity based recommendation system, will display top most 50 books and selection criteria is a book must atleast have 250 votes'

In [ ]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
rating_with_name=book.merge(rating,on='ISBN')

In [ ]:
rating_with_name.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
488271,0345350472,Blade Runner: (Do Androids Dream of Electric S...,Philip K. Dick,1990,Del Rey Books,http://images.amazon.com/images/P/0345350472.0...,http://images.amazon.com/images/P/0345350472.0...,http://images.amazon.com/images/P/0345350472.0...,38023,7
893475,3150088917,Der Verbrecher Aus Verlorener Ehre,Friedrich Schiller,1998,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150088917.0...,http://images.amazon.com/images/P/3150088917.0...,http://images.amazon.com/images/P/3150088917.0...,89361,0
738268,0786889780,First Person Plural : My Life as a Multiple,Cameron West,1999,Hyperion,http://images.amazon.com/images/P/0786889780.0...,http://images.amazon.com/images/P/0786889780.0...,http://images.amazon.com/images/P/0786889780.0...,213316,10
764644,037325914X,Pure Chance,Julie Leto,2001,Harlequin,http://images.amazon.com/images/P/037325914X.0...,http://images.amazon.com/images/P/037325914X.0...,http://images.amazon.com/images/P/037325914X.0...,55492,0
215140,0399146253,The Last Precinct,Patricia Daniels Cornwell,2000,Putnam Publishing Group,http://images.amazon.com/images/P/0399146253.0...,http://images.amazon.com/images/P/0399146253.0...,http://images.amazon.com/images/P/0399146253.0...,225763,0

In [ ]:
num_rating_df=rating_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [ ]:
num_rating_df.rename(columns={'Book-Rating':'num_rating'},inplace=True)

In [ ]:
num_rating_df.sample(5)

                                               Book-Title  num_rating
45919   De meisjes van de suikerwerkfabriek: Verhalen ...           2
107485                  Liberation of Paris: The Sergeant           1
39044                               Consider This, Senora          19
135173                                    Ordinary People          76
12222                          Am dunklen Ende der Nacht.           1

In [ ]:
avg_rating_df=rating_with_name.groupby(['Book-Title']).mean()['Book-Rating'].reset_index()

In [ ]:
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)

In [ ]:
avg_rating_df.sample(3)

                                               Book-Title  avg_rating
90652                                  Imitation in Death         0.0
160691  Simon &amp; Schuster's Guide to Orchids (Natur...         9.0
134118      One Hump or Two?: The Frank Worthington Story         7.0

In [ ]:
popular_df=num_rating_df.merge(avg_rating_df,on='Book-Title')

In [ ]:
popular_df.shape

(241071, 3)

In [ ]:
""""We can clearly see only 186 books have rating more than 250 among all the books"""

'"We can clearly see only 186 books have rating more than 250 among all the books'

In [ ]:
top_popular_df=popular_df[popular_df['num_rating']>=250].sort_values('avg_rating',ascending=False).head(50)
top_popular_df.sample(3)

,Book-Title,num_rating,avg_rating
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890

In [ ]:
"""one book is having multiple different ISBN,It has to be removed,after removing duplicates now we are left with same top 50 books"""
top_popular_df=top_popular_df.merge(book,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_rating','avg_rating']]

**Collabrative based recommendation system**

In [ ]:
temp=rating_with_name.groupby('User-ID').count()['Book-Rating']>200

In [ ]:
imp_users=temp[temp].index

In [ ]:
filtered_rating=rating_with_name[rating_with_name['User-ID'].isin(imp_users)]

In [ ]:
temp=filtered_rating.groupby(['Book-Title']).count()['Book-Rating']>=50

In [ ]:
famous_books=temp[temp].index

In [ ]:
final_rating=filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [ ]:
final_rating=final_rating.drop_duplicates()

In [ ]:
pt=final_rating.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [ ]:
pt.fillna(0,inplace=True)

In [ ]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
"""All the books are now in vector form and to find similarity between books can be calculated by using euclidean distance formula"""

'All the books are now in vector form and to find similarity between books can be calculated by using euclidean distance formula'

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score=cosine_similarity(pt)
'''It gives euclidean distance of one vector with all the other vectors'''

'It gives euclidean distance of one vector with all the other vectors'

In [ ]:
similarity_score

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [ ]:
pd.DataFrame(similarity_score)

,0,1,2,3,4,5,6,7,8,9,...,696,697,698,699,700,701,702,703,704,705
0,1.000000,0.102550,0.012209,0.000000,0.053672,0.027749,0.082165,0.137329,0.032617,0.036676,...,0.052372,0.011402,0.009687,0.125306,0.009099,0.058641,0.017696,0.121104,0.073476,0.043160
1,0.102550,1.000000,0.236457,0.000000,0.109538,0.100929,0.117862,0.187620,0.096589,0.047161,...,0.066278,0.077286,0.152550,0.084055,0.063633,0.052353,0.193097,0.074461,0.167739,0.142634
2,0.012209,0.236457,1.000000,0.000000,0.069090,0.105591,0.000000,0.107744,0.067022,0.041682,...,0.153473,0.183089,0.019906,0.148580,0.018697,0.068549,0.165654,0.045588,0.049386,0.107961
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.111582,0.000000,0.000000,0.074396,0.000000,...,0.000000,0.000000,0.000000,0.011948,0.123486,0.108638,0.076242,0.000000,0.000000,0.000000
4,0.053672,0.109538,0.069090,0.000000,1.000000,0.101331,0.096270,0.039933,0.074522,0.000000,...,0.076387,0.082158,0.022133,0.075816,0.025587,0.000000,0.098488,0.040017,0.112841,0.015204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,0.058641,0.052353,0.068549,0.108638,0.000000,0.064919,0.000000,0.131434,0.126245,0.072397,...,0.181184,0.000000,0.000000,0.000000,0.071845,1.000000,0.000000,0.000000,0.081330,0.000000
702,0.017696,0.193097,0.165654,0.076242,0.098488,0.119383,0.080976,0.052059,0.097149,0.169927,...,0.202358,0.159737,0.028853,0.061184,0.027101,0.000000,1.000000,0.052168,0.194303,0.190658
703,0.121104,0.074461,0.045588,0.000000,0.040017,0.094787,0.042405,0.051525,0.197962,0.000000,...,0.039791,0.048550,0.028558,0.198973,0.026824,0.000000,0.052168,1.000000,0.070851,0.019618
704,0.073476,0.167739,0.049386,0.000000,0.112841,0.112250,0.153617,0.070702,0.131941,0.087917,...,0.110764,0.046122,0.039187,0.083096,0.036807,0.081330,0.194303,0.070851,1.000000,0.106030
705,0.043160,0.142634,0.107961,0.000000,0.015204,0.031080,0.052201,0.019576,0.124948,0.054772,...,0.170623,0.145138,0.136403,0.106495,0.046881,0.000000,0.190658,0.019618,0.106030,1.000000

In [ ]:
import numpy as np

In [ ]:
def recommond(book_name):
  #fetch_index
  index=np.where(pt.index==book_name[0][0])
  distance=similarity_score[index]
  similar_items=sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:6]
  for i in similar_items:
    print(pt.index[i[0]])

In [ ]:
pt.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [ ]:
index=np.where(pt.index=='zoya'[0][0])

In [ ]:
similar_items=sorted(list(enumerate(similarity_score[0])),key=lambda x:x[1],reverse=True)[1:6]

In [ ]:
recommond('2nd Chance')